<div class="page-header">
    <h4>Estadísticas</h4>
</div>

<ul class="list-group">
  <li class="list-group-item">Número de Preguntas <span class="badge"><%= data.numQuizes %></span></li>
  <li class="list-group-item">Número de Comentarios <span class="badge"><%= data.numComments %></span></li>
  <li class="list-group-item">Media de Comentarios por Pregunta <span class="badge"><%= data.avg %></span></li>
  <li class="list-group-item">Número de Preguntas con Comentarios <span class="badge"><%= data.numQuizesComment %></span></li>
  <li class="list-group-item">Número de Preguntas sin Comentarios <span class="badge"><%= data.numQuizesNoComment %></span></li>
</ul>
